@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
h4,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す アクションんは0.3秒で動く*/
    color: inherit;
    transition: 0.3s;
}

/*ボタンにマウスを置くとちょっと変化する 今回は半透明になる変化*/
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
    border: none;
}

/*/////サイト全体/////*/
body{
    background-color: #ffffff;
}
.bg{
    background-image: url(../img/49@2x.png),url(../img/51@2x.png);
    background-position:right 200px bottom 1500px,left 150px bottom 600px;
    background-repeat:no-repeat,no-repeat;
    background-size: 15%,28%;
}
/*font読み込み遅延対策*/
html {
    visibility: hidden;
}
html.wf-active,
html.loading-delay {
    visibility: visible;
}

@media screen and (max-width:767px){
    .bg{
        background-image: url(../img/49@2x.png),url(../img/51@2x.png);
        background-position:right -10px bottom -30px,left 50px bottom 1210px;
        background-repeat:no-repeat,no-repeat;
        background-size: 30%,28%;
    }
}
/*/////トップページ/////*/
/*///PC版///*/

/*ナビの追順*/
.global-navigation{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:20px;
    z-index: 500;;
    
}

/*web design / cording*/
.side_box h2{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    margin-left: 18px;
}
/*Hikari Wakamura Portforio*/
.side_box h3{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    margin-left: 65px;
}
/*左側縦書き*/
.side_box{
    writing-mode:vertical-rl;
}

@media screen and (max-width:767px){
    .side_box h2{
        font-size: 10px;
        margin-left: 10px;
    }
    .side_box h3{
        font-size: 20px;
        margin-left: 15px;
    }
}

/*グローバルナビ*/
.pc_nav{
    width: 100%;
}
.pc_nav li{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    line-height: 2.08;
}

/*スマホ用メニューをPCでは消す*/
.sp_nav {
    display: none;
}
.sp_btn {
    display: none;
}

@media screen and (max-width:1100px){
.pc_nav{
    display: none; /*ps消す*/
}
/*///ハンバーガーメニュー//*/
.sp_btn{
    display: block;
    position: absolute;
    right: 20px;
    top:  15px;
    height: 30px;
    z-index: 300;
}
.sp_btn span {
    background: black;
    display: block;
    width: 33px;/*長さ*/
    height: 1px;/*線の太さ*/
    position: relative;
    top: 10px;
    transition: 0.3s;
    }
.sp_btn span::before,
.sp_btn span::after {
    content: '';
    background: black;
    display: block;
    width: 33px;
    height: 1px;
    position: absolute;
    transition: 0.3s;   
    }
.sp_btn span::before{
    bottom: 12px;
} 
.sp_btn span::after{
    top: 12px;
}
/*openした時*/
.open span {
    background: transparent;
}
.open span::before{
    bottom: 0px;
    transform: rotate(45deg);
} 
.open span::after{
    top: 0px;
    transform: rotate(135deg);
}
.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/sp20@2x.png);
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.sp_nav ul{
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.sp_nav li {
    padding: 20px 0;
    color: black;
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
}


/*/////header/////*/

.title_sp,.head_img{
    display: none; /*sp隠す*/
}
/*title文字アニメーション*/
.title {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: zen-kurenaido, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 165px;
}

.title span{opacity: 0;}
.title.appeartext span{ animation:text_anime_on 2s ease-out forwards; }
@keyframes text_anime_on {
    0% {opacity:0;}
    100% {opacity:1;}
}

.header_animation{
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 300px;
}

/*背景イラスト*/
.animation2{
    max-width: 1000px;
    position: relative;
}

/*ドットイラスト フェードイン・フェードアウト繰り返し*/
.animation1{
    max-width: 1000px;
    position: absolute;
    top: 400px;
    animation-name: smooth-fadein-out;  /*フェードイン・アウト*/
    animation-duration: 1.5s; /*アニメーションの所要時間*/
    animation-timing-function: linear;/*始まりから終わりまでの進行速度設定*//*等しい速度*/
    animation-delay: 0s; /*アニメーションをいつ開始するか*/
    animation-iteration-count: infinite;/*繰り返し設定*//*無制限*/
    animation-direction: alternate;/*アニメーション再生の向き*//*毎回反転させ初回は順方向*/
}
@keyframes smooth-fadein-out {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width:767px){
    .title{
        display: none; /*PC隠す*/
    }
    .title_sp{
        display: block;
        writing-mode:vertical-rl;
        margin: 145px auto 0;
    }
    .subtitle{
        text-align: center;
        font-size: 40px;
        font-family: zen-kurenaido, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        padding-left: 20px;
    }
    .title_main{
        text-align: center;
        font-size: 40px;
        font-family: zen-kurenaido, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
    }
    .header_animation{
        display: none;
}
    .head_img{
        display: block;
    }
}

/*/////制作実績一覧/////*/
/*///PC版///*/
#work{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
/*work見出し*/
.work_top{
    position: relative;
}
.work_title{
    position: absolute;
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 90px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

/*work作品一覧*/
.work_wrap{
    position: relative;
}

.work_list{
    display: flex;
    justify-content: space-between;
}
/*作品一覧の基本設定*/
.unit1,.unit2_left,.unit2_right,.unit3{
    width: 257px;
    margin-top: 60px;
}
/*作品一覧一列目*/
.unit1_center{
    width: 257px;
    margin-top: 160px;
}
/*作品一覧二列目*/
.unit2_left{
    margin-left: 150px;
}
.unit2_right{
    margin-right: 150px;
}
/*作品一覧三列目*/
.unit3_center{
    width: 257px;
    margin-top: 140px;
}
.unit3_right{
    width: 257px;
    margin-top: 240px;
}
/*dot*/
.dot_green{
    width: 190px;
    margin-left: 180px;
}
.dot_blue{
    width: 165px;
    position: absolute;
    top:950px;
    right: 100px;
    z-index: -10;
}
.dot_yellow{
    width: 345px;
    position: absolute;
    top:1400px;
    left: 80px;
    z-index: -10;
}
/*制作実績　グレースケールからカラーへ*/
.work_list img{
    filter: grayscale(100%);
    transition: all 0.3s ease-in;
}
.work_list img:hover{
    filter: grayscale(0%);
}

.work_sp{
    display: none;/*sp隠す*/
}

@media screen and (max-width:767px){
    .dot_green,.work_list{
        display: none; /*pc隠す*/
    }
    .work_title{
        font-size: 60px;
        text-align: center;
        margin-top: 150px;
    }
    .work_sp{
        display: block;
        width: 100%;
        font-size: 60px;
        margin: 0 auto;
        padding-top: 250px;
    }
    .slider_wrap{
        display: block;
        width: 60%;
        margin: 0 auto;
    }
    .slider-for{
        margin-bottom: 30px;
    }

    .work_btmimg{
        width: 65%;
        display: block;
        margin-right: auto;
    }
    .slick_img{
        padding: 0 5px;
    }

    /*/////slick 矢印のデザイン変更/////*/
    .slick-arrow {
        display: block;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        padding: 0;
        width: 19px;
        height: 38px;
        color: transparent;
        z-index: 100;
        transition: opacty 0.5s;
        z-index: 100;
    }
    .slick-arrow:hover {
        opacity: 0.8;
    }
    /* 共通設定 */
    .slick-next::before,
    .slick-next::after,
    .slick-prev::before,
    .slick-prev::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        vertical-align: middle;
    }
    .slick-next::after,
    .slick-prev::after {
        width: 20px;
        height: 20px;
        border-top: 2px solid rgb(63, 63, 63);
        border-right: 2px solid rgb(63, 63, 63);
    }
    /* next */
    .slick-next {
        left: 323px;
    }
    .slick-next::after {
        transform: rotate(45deg);
    }
    /* prev */
    .slick-prev {
        right: 363px;
    }
    .slick-prev::after {
        transform: rotate(-135deg);
    }
}


/*/////aboutme/////*/
#aboutme{
    display: none;
}
@media screen and (max-width:767px){
    #aboutme{
        display: block;
    }
    .aboutme_wrap{
        display: block;
        width: 70%;
        margin: 20px auto;
    }
    .aboutme_title{
        font-size: 60px;
        text-align: center;
        font-family: m-plus-2p,sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .about_text{
        font-size: 15px;
        line-height: 1.8;
        width: 83%;
        margin: 0 auto;
        padding: 35% 0 30% 0;

    }
    .text_bg{
        background-image: url(../img/21@2x.png);
        background-position: center;
        background-size: 90%;
    }
    .toabout{
        width: 40%;
        margin:50px auto 0;
    }
    .toabout img{
        /*制作実績　グレースケールからカラーへ*/
        filter: grayscale(100%);
        transition: all 0.3s ease-in;
    }
    .toabout img:hover{
        filter: grayscale(0%);
    }
    .toabout_btmimg{
        width: 60%;
        display: block;
        margin-left: auto;
        margin-top: 30px;
    }
}

/*/////contact/////*/
#contact{
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.contact_title{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 90px;
    margin-top: 300px;
}
.text1{
    font-size: 20px;
    line-height: 3;
    margin-top: 105px;
}
.contact_img{
    width: 350px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in;
    padding-top: 30px;
}
.contact_img:hover{
    filter: grayscale(0%);
}
.text2{
    font-size: 15px;
    margin-top: 65px;
}
.contact_sp_wrap{
    display: none;/*sp隠す*/
}

@media screen and (max-width:767px){
/*//問い合わせフォーム//*/
.form {
    max-width: 800px;
    display: block;
    margin: 0 auto;
    padding: 100px 50px 0 50px;
    position: relative;
    z-index: 100;
}
.form_item{
    border-top: 1px solid transparent;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
}

.formitem_label,.form_item_msg {
    width: 100%;
    max-width: 350px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom: auto;
    max-width: inherit;
    display: flex;
    align-items: flex-start;
    font-size: 15px;
}
.required{
    margin-left: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: black;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
}
    /* 名前・フリガナ・メールアドレスボックス*/
input[type="text"]{
    width: 100%; 
    font-size: 18px; 
    padding: 10px;
    border: solid 2px #e3e6ea; /* 線の色 */
    border-radius: 4px; /* 角丸 */
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
}
input[type="email"]{
    width: 100%;
    padding: 10px;
    font-size: 18px; /* フォントサイズ */
    border: solid 2px #e3e6ea; /* 線の色 */
    border-radius: 4px; /* 角丸 */
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
}

    /* お問合せボックス */
textarea {
    resize: none;
}
.form_txtarea{
    width: 100%; /* 幅：横いっぱいに */
    height: 150px; /* 高さ */
    font-size: 18px; /* フォントサイズ */
    border: solid 2px #e3e6ea; /* 線の色 */
    border-radius: 4px;/* 角丸 */
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
}

  /* フォーカス時のスタイル */
input[type="text"]:focus {
    border-color: #ff9252; /* 線の色 */
    outline: 0;
}

input[type="email"]:focus {
    border-color: #ff9252; /* 線の色 */
    outline: 0;
}
textarea:focus {
    border: solid 2px #ff9252;
    outline: 0;
}  
.form_btn{
    margin: 0 auto;
    width: 300px;
    padding-top: 50px;
}
}
/*/////footer/////*/
.footer_text{
    font-size: 10px;
    text-align: center;
    margin-top: 100px;
}
.footer_pc_img{
    width: 333px;
    margin-right: 0;
    margin-left: auto;
    display: block;
    margin-top: -300px;
}
.footer_sp_img{
    display: none;
}

@media screen and (max-width:767px){
    .footer_pc_img{
        display: none;
    }
    .footer_sp_img{
        display: block;
        width: 100%;
    }
}

