@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
h4,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す アクションんは0.3秒で動く*/
    color: inherit;
    transition: 0.3s;
}

/*ボタンにマウスを置くとちょっと変化する 今回は半透明になる変化*/
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
    border: none;
}

/*/////サイト全体/////*/
body{
    background-color: #ffffff;
}
.bg{
    background-image: url(img/63@2x.png),url(img/59@2x.png),url(img/64@2x.png);
    background-position:right top,left bottom,right 90px bottom 900px;
    background-repeat:no-repeat,no-repeat,no-repeat;
    background-size: 282px,230px,300px;
}
/*font読み込み遅延対策*/
html {
    visibility: hidden;
}
html.wf-active,
html.loading-delay {
    visibility: visible;
}
@media screen and (max-width:767px){
    .bg{
        background-image: url(img/sp24@2x.png),url(img/sp25@2x.png);
        background-position: right bottom,right bottom 100px;
        background-repeat:no-repeat,no-repeat;
        background-size: 30%,14%;
    }
}

/*/////トップページ/////*/
/*///PC版///*/
/*ナビの追順*/
.global-navigation{
    position: fixed;
    top:20px;
    z-index: 500;
    left: 90%;
    display: inline-block;
}
.side_box{
    display: block;
    position: fixed;
    top:20px;
    z-index: 500;
}

/*web design / cording*/
.side_box h2{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    margin-left: 18px;
}
/*Hikari Wakamura Portforio*/
.side_box h3{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    margin-left: 65px;
}
/*左側縦書き*/
.side_box{
    writing-mode:vertical-rl;
}

/*グローバルナビ*/
.pc_nav li{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 2.5;
}
.pc_nav li a{
	position: relative;    /*テキストの基点*/
	overflow: hidden;    /*はみ出る要素を隠す*/
    padding: 3px;
    transition: all .2s;
}
.pc_nav li span{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, 0);/*X方向に-50% ※中央寄せにするため*/
	display: block;   /*テキスト折り返しなし*/
	white-space: nowrap;
}
/*差し替わるテキストの設定*/
.pc_nav li span:nth-child(2){
	opacity:0;
}
/*hoverするとテキストが入れ替わる設定*/
.pc_nav li:hover span:nth-child(1){
	opacity:0;
}
.pc_nav li:hover span:nth-child(2){
	opacity:1;
}

/*スマホ用メニューをPCでは消す*/
.sp_nav {
    display: none;
}
.sp_btn {
    display: none;
}

@media screen and (max-width:1100px){
    .pc_nav{
        display: none; /*ps消す*/
    }
    /*///ハンバーガーメニュー//*/
    .sp_btn{
        display: block;
        position: fixed;
        right: 20px;
        top:  15px;
        height: 30px;
        z-index: 800;
    }
    .sp_btn span {
        background: black;
        display: block;
        width: 33px;/*長さ*/
        height: 1px;/*線の太さ*/
        position: relative;
        top: 10px;
        transition: 0.3s;
        }
    .sp_btn span::before,
    .sp_btn span::after {
        content: '';
        background: black;
        display: block;
        width: 33px;
        height: 1px;
        position: absolute;
        transition: 0.3s;   
        }
    .sp_btn span::before{
        bottom: 12px;
    } 
    .sp_btn span::after{
        top: 12px;
    }
    /*openした時*/
    .open span {
        background: transparent;
    }
    .open span::before{
        bottom: 0px;
        transform: rotate(45deg);
    } 
    .open span::after{
        top: 0px;
        transform: rotate(135deg);
    }
    .sp_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url(../img/sp20@2x.png);
        background-repeat:no-repeat;
        background-size: cover;
        text-align: center;
        transition: 1s;
        z-index: 10;
    }
    .sp_nav ul{
        height: 100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    .sp_nav li {
        padding: 20px 0;
        color: black;
        font-family: m-plus-2p,sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        text-align: center;
    }
}
@media screen and (max-width:767px){
    /*Hikari Wakamura Portforio*/
.side_box{
    display: none;
}
}


/*/////header/////*/
.header_wrap{
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.title{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 90px;
    margin-top: 165px;
}
.heading{
    font-size: 19px;
    line-height: 2.1;
    font-weight: lighter;
    margin-top: 60px;
}

@media screen and (max-width:767px){
    .title{
        font-size: 60px;
    }
    .header_wrap{
        width: 100%;
    }
    .heading{
        font-size: 14px;
        line-height: 2.1;
        width: 70%;
        margin: 55px auto 0;
    }
}

/*/////profile/////*/
.aboutme_topPC{
    width: 35%;
    margin: 0 auto;
    padding:120px 0 80px
}

.name,.profile_pc,.skill{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

.name_item{
    width: 24%;
}
.name_text{
    font-size: 40px;
    font-weight: bold;
    padding: 128px 0 0 85px;
    width: 70%;
}
.profile_pc{
    padding-top: 142px;
}
.profile_text{
    font-size: 16px;
    line-height: 2.5;
    font-weight: normal;
    width: 70%;
}
.profile_item{
    width: 20%;
    padding-left: 10%;
}
.skill{
    padding-top: 90px;
}
.skill_item{
    width: 23%;
}

.skill_text{
    font-size: 28px;
    font-weight: normal;
    padding:142px 0 0 55px;
    width: 77%;
}

.profile_sp,.aboutme_topSP{
    display: none;
}


@media screen and (max-width:767px){
    .aboutme_topPC,.profile_pc{
        display: none;
    }
    .aboutme_topSP{
        display: block;
        margin: 0 auto;
        width: 65%;
        padding-top: 60px;
    }
    .name,.profile_sp,.skill{
        width: 100%;
        display: block;
        margin: 0 auto;
        padding-top: 65px;;
    }
    .name_text{
        width: 70%;
        font-size: 27px;
        font-weight: bold;
        padding: 20px 0 0 0 ; 
        margin: 0 auto;
        text-align: center;
    }
    .profile_text{
        font-size: 15px;
        line-height: 2;
        font-weight: normal;
        width: 60%;
        margin: 0 auto;
        padding-top: 20px;
    }
    .skill_text{
        width: 70%;
        font-size: 18px;
        font-weight: normal;
        padding:50px 0 0 0;
        margin: 0 auto;
        text-align: center;
    }
    .name_item{
        width: 30%;
        padding-left: 10%;
    }
    .profile_item{
        width: 27%;
        padding-right: 10%;
        display: block;
        margin-left: auto;
    }
    .skill_item{
        width: 30%;
        padding-left: 10%;
    }
    

    
}

/*/////service/////*/
#service{
    display: block;
    max-width: 1000px;
    margin: 190px auto;

}
.service_title{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 90px;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 200px;
}

.webitem,.codingitem{
    margin-top: 70px;
    display: flex;
}
.item_title{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 66px;
    border-bottom: solid 4px black;
    width: 567px;
}
.item_lead{
    font-size: 18px;
    font-weight: bold;
    margin:20px 0 0  -268px;
}
.item_text{
    font-size: 17px;
    line-height: 2.47;
    font-weight: normal;
    padding-top: 15px;
}
.codingitem{
    justify-content: flex-end;
}

@media screen and (max-width:767px){
    #service{
        width: 70%;
        margin: 0 auto;

    }
    .service_title{
        font-size: 60px;
        margin: 180px 0 0 0 ;
    }
    .webitem,.codingitem{
        display: block;
    }
    .item_title{
        width: 100%;
        font-size: 30px;
        border-bottom: none;
        padding-bottom: 17px;
        margin-top: 80px;
    }
    .item_lead{
        font-size: 100%;
        margin-left: 2px;
        padding-bottom: 20px;
        border-bottom: solid 4px black;
    }
.item_text{
    padding-top: 25px;
}
}


/*/////contact/////*/
.contact{
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.contact_title{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 90px;
    margin-top: 113px;
}
.text1{
    font-size: 20px;
    line-height: 3;
    margin-top: 105px;
}
.contact img{
    width: 350px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in;
    padding-top: 30px;
}
.contact img:hover{
    filter: grayscale(0%);
}
.text2{
    font-size: 15px;
    margin-top: 65px;
}

@media screen and (max-width:767px){
    .contact{
        width: 100%;
    }
    .contact_title{
        font-size: 60px;

    }
    .text1{
        font-size: 16px;
        line-height: 1.8;
        margin-top: 70px;
        padding: 0 20px;
    }
    .text2{
        font-size: 13px;
        line-height: 1.5;
        margin-top: 50px;
        padding: 0 20px;
    }
    .contact img{
        width: 60%;
        filter: none
    }
    .contact img:hover{
        filter: none
    }
}
/*/////footer/////*/
.footer_text{
    font-size: 10px;
    text-align: center;
    margin-top: 100px;
}
.footer_img{
    width: 333px;
    margin: 0 auto;
    display: block;
    margin-top: -300px;
}
.footer_text{
    font-size: 10px;
    text-align: center;
    padding: 100px 0 100px 0;
}
.contactSP_img{
    display: none;
}

@media screen and (max-width:767px){
    .contactPC_img{
        display: none;
    }
    .contactSP_img{
        display: block;
        margin:  0 auto;
    }
    .footer_img{
        width: 50%;
    }
    .footer_text{
        padding: 50px 0 30px 0;
    }
}

