@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
h4,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す アクションんは0.3秒で動く*/
    color: inherit;
    transition: 0.3s;
}

/*ボタンにマウスを置くとちょっと変化する 今回は半透明になる変化*/
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
    border: none;
}


/*/////サイト全体/////*/
body{
    background-color: #ffffff;
}
.bg{
    background-image: url(img/72@2x.png),url(img/73@2x.png),url(img/71@2x.png),url(img/74@2x.png);
    background-position:left top,center top ,right bottom 200px,left 100px bottom 400px;
    background-repeat:no-repeat,no-repeat,no-repeat,no-repeat;
    background-size: 43%,16%,35%,16%;
}
/*font読み込み遅延対策*/
html {
    visibility: hidden;
}
html.wf-active,
html.loading-delay {
    visibility: visible;
}

@media screen and (max-width:767px){
.bg{
    background-image: url(img/73@2x.png);
    background-position:left 190px top;
    background-size: 20%;

}
}

/*/////トップページ/////*/
/*///PC版///*/
/*ナビの追順*/
.global-navigation{
    position: fixed;
    top:20px;
    z-index: 500;
    left: 90%;
    display: inline-block;
}
.side_box{
    display: block;
    position: fixed;
    top:20px;
    z-index: 500;
}

/*web design / cording*/
.side_box h2{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    margin-left: 18px;
}
/*Hikari Wakamura Portforio*/
.side_box h3{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    margin-left: 65px;
}
/*左側縦書き*/
.side_box{
    writing-mode:vertical-rl;
}

/*スマホ用メニューをPCでは消す*/
.sp_nav {
    display: none;
}
.sp_btn {
    display: none;
}

/*ナビの追順*/
.global-navigation{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:20px;
    z-index: 500;
    width: 100%;
}
/*web design / cording*/
.global-navigation h2{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    margin-left: 18px;
}
/*Hikari Wakamura Portforio*/
.global-navigation h3{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    margin-left: 65px;
}

/*左側縦書き*/
.side_box{
    writing-mode:vertical-rl;
}
@media screen and (max-width:767px){
    .side_box{
        display: none;
    }
}

/*グローバルナビ*/
.pc_nav li{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 2.5;
}
.pc_nav li a{
	position: relative;    /*テキストの基点*/
	overflow: hidden;    /*はみ出る要素を隠す*/
	padding: 5px 60px;
    transition: all .2s;
}
.pc_nav li span{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, 0);/*X方向に-50% ※中央寄せにするため*/
	display: block;   /*テキスト折り返しなし*/
	white-space: nowrap;
}
/*差し替わるテキストの設定*/
.pc_nav li span:nth-child(2){
	opacity:0;
}
/*hoverするとテキストが入れ替わる設定*/
.pc_nav li:hover span:nth-child(1){
	opacity:0;
}
.pc_nav li:hover span:nth-child(2){
	opacity:1;
}

/*スマホ用メニューをPCでは消す*/
.sp_nav {
    display: none;
}
.sp_btn {
    display: none;
}

@media screen and (max-width:1100px){
    .pc_nav{
        display: none; /*ps消す*/
    }
    /*///ハンバーガーメニュー//*/
    .sp_btn{
        display: block;
        position: fixed;
        right: 20px;
        top:  15px;
        height: 30px;
        z-index: 800;
    }
    .sp_btn span {
        background: black;
        display: block;
        width: 33px;/*長さ*/
        height: 1px;/*線の太さ*/
        position: relative;
        top: 10px;
        transition: 0.3s;
        }
    .sp_btn span::before,
    .sp_btn span::after {
        content: '';
        background: black;
        display: block;
        width: 33px;
        height: 1px;
        position: absolute;
        transition: 0.3s;   
        }
    .sp_btn span::before{
        bottom: 12px;
    } 
    .sp_btn span::after{
        top: 12px;
    }
    /*openした時*/
    .open span {
        background: transparent;
    }
    .open span::before{
        bottom: 0px;
        transform: rotate(45deg);
    } 
    .open span::after{
        top: 0px;
        transform: rotate(135deg);
    }
    .sp_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url(../img/sp20@2x.png);
        background-repeat:no-repeat;
        background-size: cover;
        text-align: center;
        transition: 1s;
        z-index: 10;
    }
    .sp_nav ul{
        height: 100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    .sp_nav li {
        padding: 20px 0;
        color: black;
        font-family: m-plus-2p,sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        text-align: center;
    }
    }




/*/////header/////*/
.title{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 90px;
    padding:300px 0 50px 720px;
}
.title_sp{
    display: none;
}
@media screen and (max-width:767px){
    .pc_nav{
        display: none;
    }

    .title{
        font-size: 60px;
        margin: 0 auto;
        text-align: center;
        margin-top: 100px;
        padding: 0;
    }
}

/*/////制作実績内容/////*/
.main_wrap{
    display: block;
    margin: 200px auto 0;
    padding: 30px 180px;
}
.thumbnail_img{
    width: 65%;
    display: block;
    padding: 30px;
    margin: 0 auto;
}

@media screen and (max-width:767px){
    .title{
        margin-top: 50px;
    }
    .main_wrap{
        padding: 0 15px;
        margin-top: 100px;
    }
    .thumbnail{
        width: 75%;
        margin: 0 auto
    }
}

/*-----作品アニメーション-----*/
.worksp{
    display: none;
}
.thumbnail{
    display: block;  /*block flex*/
    padding: 50px 0 50px 0;
    text-align: center;
    margin: 0 150px;
}
.thumbnail_img{
    width: 65%;
    display: inline-block;
}

@media screen and (max-width:767px){
    .main_wrap{
        padding: 0 15px;
        margin-top: 100px;
    }
    .thumbnail{
        width: 75%;
        margin: 0 auto
    }
}
/*ふわっと出る*/
/* fadeUp */
.fadeUp{
    animation-name:fadeUpAnime;;
    animation-duration:0.3s;
    animation-fill-mode:forwards;
    opacity:0;
}
@keyframes fadeUpAnime{
from {
    opacity: 0;
    transform: translateY(100px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger{
    opacity: 0;
}
/*枠線が伸びて出現*/
.thumbnail{
    position: relative; /* 枠線が書かれる基点*/
}
/*上下線*/
.thumbnail::before,
.thumbnail::after{
    position: absolute;
    content:"";
    width:0;
    height:1px;
    background:#333;/* 枠線の色*/
}
/*左右線*/
.thumbnail2::before,
.thumbnail2::after{
    position: absolute;
    content:"";
    width: 1px;
    height:0;
    background:#333;/* 枠線の色*/
}
/*上線*/
.thumbnail::before {
    top:0;
    left:0;
    animation: lineAnime .5s linear 0s forwards;/*表示されて0秒後に上線が0.5秒かけて表示*/
}
/*右線*/
.thumbnail2::before{ 
    top:0;
    right:0;
    animation: lineAnime2 .5s linear .5s forwards;/*表示されて0.5秒後に右線が0.5秒かけて表示*/
}
/*下線*/
.thumbnail::after { 
    bottom:0;
    right:0;
    animation: lineAnime .5s linear 1s forwards;/*表示されて1秒後に下線が0.5秒かけて表示*/
}
/*左線*/
.thumbnail2::after{ 
    bottom:0;
    left:0;
    animation: lineAnime2 .5s linear 1.5s forwards;/*表示されて1.5秒後に左線が0.5秒かけて表示*/
}
@keyframes lineAnime {
    0% {width:0%;}
    100%{width:100%;}
}
@keyframes lineAnime2 {
    0% {height:0%;}
    100%{height:100%;}
}


/*枠線内側の要素*/
.thumbnail .thumbnail_img{
    animation: lineInnerAnime .5s linear 1.5s forwards;/*1.5秒後に中央のエリアが0.5秒かけて表示*/
    opacity: 0;/*初期値を透過0にする*/ 
}
@keyframes lineInnerAnime{
    0% {opacity:0;}
    100% {opacity:1;}
}


@media screen and (max-width:1100px){   /*/////sp/////*/
    .fadeUpTrigger{
        display: none;
    }
    .worksp{
        display: block;
    }
    .worksp img{
        border: solid 1px #333;
        padding: 17px;
        width: 60%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
}



/*作品全体表示のアコーディオン*/
.accordion{
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}
.accordion_wrap{
    margin-top: 30px;
}
.accordion_switch {
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid gray;
    width: 30%;
    margin: 18px auto;
}
.accordion_switch p{
    text-align: center;
}
.accordion_switch.open {
    border-bottom: 1px solid gray;
}
.accordion_switch:hover {
    background-color: #eee;
}
.accordion_switch::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 11px;
    background: url(../img/arrow_down.svg) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: transform .2s;
}
.accordion_switch.open::after {
    transform: rotateZ(180deg);
    top: 46%;
}
.accordion_contents {
    display: none;
    padding: 5px 10px;
}
.accordion_contents img{
    display: block;
    margin: 0 auto;
    width: 40%;
}
/*///アコーディオンスイッチに戻るボタン///*/
.goup{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: relative;
    margin: 15px auto;
}
.goup::before{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
.goup:hover{
    opacity: 1;
}

@media screen and (max-width:767px){
    .accordion{
        padding-top: 20px;
    }
    .accordion_switch {
        width: 50%;
        margin: 0 auto;
    }
}


.desc{
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 130px;
}
.desc h3{
    font-size: 30px;
    font-weight: bold;
    border-bottom:solid 3px black;
    padding-bottom: 10px;
}
dl{
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    margin: 0 auto;
}
dt{
    width: 25%;
    font-size: 16px;
    font-weight: normal;
    padding: 20px 10px;
    border-bottom: solid 1px black;
    box-sizing: border-box;

}
dd{
    width: 75%;
    font-size: 16px;
    font-weight: normal;
    padding: 20px 10px;
    border-bottom: solid 1px black;
    box-sizing: border-box;
}

.capture{
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 75px;
} 
.capture h3{
    font-size: 30px;
    font-weight: bold;
    border-bottom:solid 3px black;
    padding-bottom: 10px;
}
.capture p{
    font-size: 16px;
    line-height: 2.5;
    padding-top: 10px;
}
.capture img{
    width: 40%;
    margin:120px 0 0 50px ;
    filter: grayscale(100%);
    transition: all 0.3s ease-in;
}
.capture img:hover{
    filter: grayscale(0%);
}

@media screen and (max-width:767px){
    .desc ,.capture{
        width: 80%;
        padding: 0 10px;
    }
    .capture{
        margin-top: 50px;
    }
    .capture img{
        display: block;
        width: 80%;
        margin: 50px auto;
        filter: none;
        transition: none;
    }
    .desc{
        margin-top: 78px;
    }
    dt{
        width: 35%;
    }
    dd{
        width: 65%;
    }
}


/*/////contact/////*/
.contact{
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 250px;
}
.contact_title{
    font-family: m-plus-2p,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 90px;
    margin-top: 113px;
}
.text1{
    font-size: 20px;
    line-height: 3;
    margin-top: 105px;
}
.contact img{
    width: 350px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in;
    padding-top: 30px;
}
.contact img:hover{
    filter: grayscale(0%);
}
.text2{
    font-size: 15px;
    margin-top: 65px;
}

@media screen and (max-width:767px){
    .contact{
        display: none;
    }
}

/*/////footer/////*/
.footer_text{
    font-size: 10px;
    text-align: center;
    margin:100px auto;
}

@media screen and (max-width:767px){
    .contactPC_img{
        display: none;
    }
    .contactSP_img{
        display: block;
        margin:  0 auto;
    }
    .footer_img{
        width: 50%;
    }
    .footer_text{
        margin: 50px auto;
    }
}

